// colores

$color__fondo:#041122;
$color__menu: #208547;
$color__titulo: #bebebe;
$color__contenedor:#bebebe;
$color__boton: #384674;


//media queris

$pc: (min-width:1024px);
$tablet: (min-width: 768px);